* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2e6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.container {
    margin-top: 5rem;
    background-color: #B0E0E6;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;  /* Ensures padding doesn't affect width */
}

.container h2 {
    text-align: center;
    color: #003366;
    font-size: 30px;
    margin-bottom: 20px;
}

input[type="text"], 
input[type="tel"], 
input[type="email"] {
    color: rgb(90, 88, 88);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;  /* Ensure the input fields take up full width */
    transition: border-color 0.3s ease;
}

select {
    color: rgb(90, 88, 88);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, 
input[type="tel"]:focus,
input[type="email"]:focus, 
select:focus {
    outline: none;
    border-color: #003366;
}

textarea {
    color: rgb(90, 88, 88);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
    resize: vertical;
    min-height: 100px;
    transition: border-color 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: #003366;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #003366;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #002244;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
    .container {
        width: 90%; /* Reduce width on mobile devices */
        padding: 20px; /* Adjust padding */
    }

    .container h2 {
        font-size: 1.8rem;  /* Adjust font size for small screens */
    }

    input[type="text"], 
    input[type="tel"], 
    input[type="email"], 
    select, 
    textarea {
        font-size: 14px;  /* Reduce font size for smaller devices */
        padding: 8px;  /* Adjust padding for inputs and textarea */
    }

    button {
        font-size: 14px;  /* Reduce button font size */
        padding: 12px;  /* Adjust padding for button */
    }
}
