*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #d2e6e9;
    /* background-color: #96bbe0; */
}

.announcement-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.announcement-section{
    width: 100%;
    max-width: 900px;
}

.announcement-section h1 {
    /* font-size: 2.5rem; */
    color: #003366;
    margin: 30px;
    margin-left: 5px;
}

input{  
    margin-top: 20px;
    /* margin-left: 30px; */
    width: 30%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    border:none;
}

.announcement-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement-card {
    padding: 15px;
    margin: 5px auto;
    border-radius: 8px;
    /* margin-bottom: 15px; */
    background-color: #f2f0f5;
    box-shadow: 0 4px 8px #003366;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
}

.announcement-card h3{
    color: #003366;
    margin-bottom: 10px;
}

.announcement-card p{
    margin-bottom: 10px;
}

.announcement-card span{
    color: #646364;
}