body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
    width: 40%;
    margin: 60px auto;
    background: #b0e0e6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #003366;
    text-align: center;
}

#visitorType, #addVisitorBtn, input {
    width: 100%;
    padding: 10px;
    color: rgb(90, 88, 88);
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus, select:focus{
    outline: none;
    border-color: navy;
}

#addVisitorBtn {
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addVisitorBtn:hover {
    background-color: #002244;
}

.search-container{
    text-align: center;
}
#searchInput, #searchBtn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}
#searchInput{
    width: 30%;
}
#searchBtn{
    background-color: #003366;
    color: white;
    cursor: pointer;
}
#searchInput:focus{
    border: 1px solid #003366;
}

form {
    margin-bottom: 20px;
}

.table-container {
    margin-top: 5px;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    background-color: #f9f9f9;
}

.styled-table thead tr {
    background-color: #003366;
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #e3f2fd;
}

.exit-btn {
    padding: 6px 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exit-btn:hover {
    background-color: #002244;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 30px auto;
        padding: 20px;
    }
}
